body { margin: 0; background: #fff; font-family: tahoma,arial,sans-serif; font-size: 14px; }
a,a:hover,a:focus { text-decoration: none; }
#page { background: transparent; }
#modules { position: absolute; top: 40px; bottom: -40px; background-image: linear-gradient(to left, #eee, #ccc); box-shadow: 1px 0 5px #777; }
#modules.affix { position: fixed; top: 0; }
#container { margin: 0 auto; }
#header { padding: 20px 15px; }
#body { overflow: auto; }
#modules-mobile { display: none; padding: 15px; background-image: linear-gradient(to bottom, #eee, #ccc); }
#sidebar ul { margin: 0; padding: 0; list-style-type: none; font-size: large; }
#sidebar ul li { border-bottom: dashed 1px #aaa; }
#sidebar ul li a { color: #444; }
#sidebar ul li a.active { color: #428bca; }
#sidebar ul li a div { padding: 10px 5px 10px 5px; overflow: auto; }
#content { padding: 15px; min-height: 670px; background: #fff; box-shadow: none; }
#footer { margin-top: 15px; color: #444; text-transform: uppercase; font-size: 11px; text-shadow: 0 1px 1px #fff; }
#footer > .container-fluid > .row { padding: 15px 0; border-top: solid 1px #ddd; }
.dash-title { font-size: 24px !important; }
.fb_iframe_widget { vertical-align: middle; }

@media only screen and (max-width: 992px){
    #modules { display: none; }
    #modules-mobile { display: block; }
}